<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Sauce Labs App Automation" parallel="tests">
    <test name="Android">
        <parameter name="platformName" value="Android"/>
        <parameter name="deviceName" value="pixel2"/>
        <parameter name="UDID" value="emulator-5554"/>
        <parameter name="systemPort" value="10000"/>
        <parameter name="chromeDriverPort" value="11000"/>
        <classes>
            <class name="com.qa.runners.MyTestNGRunnersTest"/>
        </classes>
    </test>
<!--    <test name="iOS">-->
<!--        <parameter name="platformName" value="iOS"/>-->
<!--        <parameter name="deviceName" value="iPhone"/>-->
<!--        <parameter name="UDID" value="8E3D8D15-2520-451B-908B-B0E65FB604BF"/>-->
<!--        <parameter name="wdaLocalPort" value="10001"/>-->
<!--        <parameter name="webkitDebugProxyPort" value="11001"/>-->
<!--        <classes>-->
<!--            <class name="com.qa.runners.MyTestNGRunnersTest"/>-->
<!--        </classes>-->
<!--    </test>-->
</suite>